<div class="col-sm-12">
    <div class="col-sm-2">
        <%= render "user_panel" %>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
           <div align="center" class="panel-heading">
               <h1 class="panel-title">Edit your profile</h1>
            </div>
            <div class="panel-body">
              <%= render 'form' %>
            </div>
        </div>      
    </div>
</div>
