<div class="container">
    <div class="footer">
        <small>
            Copyrights &copy; - Vinicius Souza
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "Homepage", root_path %>
                </li>
                <li>
                    <%= link_to "Articles", articles_path %>
                </li>
                
            </ul>
        </nav>
    </div>    
</div>
    